body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
.clear{clear: both};
body{font-family:'\5FAE\8F6F\96C5\9ED1', sans-serif!important;}
a,a:hover{text-decoration: none}
$img: "./";
//$img: '//game.gtimg.cn/images/qhyx/cp/a20180614qhyx/';


//弹窗
a,a:hover{text-decoration: none}
.pop{display:none;outline: none;width:1007px;height:650px;position:relative;z-index: 1000;}
.pop-closeed{display:block;width:44px;height:44px;text-align:center;line-height:44px;position:absolute;right: 10px;top: 72px;font-family:Tahoma;font-size:50px;color:#4B5156;text-decoration:none;}
.pop-closeed:hover{color:#fff;text-decoration:none;}
.video_tc{left:50px;top:87px;z-index:20;position:absolute;width:908px;height:528px;border: 1px solid #5160a3;}
.ts{text-align:center;width:100%;top:50%;margin-top:-9px;color:#fff;z-index:10;position:absolute;font-size: 18px;}




a,a:hover,.swiper-button-next,.swiper-button-prev{
  border: none;
  text-decoration: none!important;
}
a:focus{
  outline: none;
}
#gfooter{
  .logo2{
    position: static!important;
    top: 0;
    left: 0;
  }
}
.stage{
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  pointer-events: none;

}
#qhyx_container{
  width: 100%;
  position: relative;
  .bg{
    width: 100%;
    .bg1{
      width: 100%;
      height: 509px;
      background: url($img +"bg1.jpg")no-repeat center;
    }
    .bg2{
      width: 100%;
      height: 769px;
      background: url($img +"bg2.jpg")no-repeat center;
    }
    .bg3{
      width: 100%;
      height: 1035px;
      background: url($img +"bg3.jpg")no-repeat center;
    }
    .bg4{
      width: 100%;
      height: 1153px;
      background: url($img +"bg4.jpg")no-repeat center;
    }
    .bg5{
      width: 100%;
      height: 1034px;
      background: url($img +"bg5.jpg")no-repeat center;
    }
  }
  .container{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    .main{
      width: 1200px;
      margin: 0 auto;
      position: relative;
      padding-top: 959px;
      .logo{
        display: block;
        width: 210px;
        height: 103px;
        position: absolute;
        top: 20px;
        left: 40px;
        background: url($img +"logo.png")no-repeat center;
      }
      .time{
        width: 251px;
        height: 30px;
        position: absolute;
        background: url($img +"time.png")no-repeat center;
        top: 290px;
        right: 280px;
      }
      .title1{
        width: 1082px;
        height: 62px;
        background: url($img +"title1.png")no-repeat center;
        margin: 0 auto;
      }
      .title1_p{
        width: 100%;
        height: 120px;
        margin: 20px auto 0;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        line-height: 26px;
      }
      .swiper1{
        width: 930px;
        height: 570px;
        margin: 10px auto 0;
        position: relative;
        .swiper-container{
          width: 800px;
          height: 465px;
          margin: 0 auto;
        }
        .swiper-button-prev,.swiper-button-next{
          width: 39px;
          height: 69px;
          position: absolute;
          margin-top: -80px;
          outline: none;
        }
        .swiper-button-prev{
          background: url($img +"swiper1_prev.png")no-repeat center;
          left: 0;
        }
        .swiper-button-next{
          background: url($img +"swiper1_next.png")no-repeat center;
          right: 0;
        }
        .swiper-pagination{
          width: 620px;
          height: 80px;
          left: 50%;
          margin-left: -310px;
          bottom: -20px;
          background: url($img +"swiper1_btn.png")no-repeat top center;
        }
        .swiper-pagination-bullet{
          width: 100px;
          height: 80px;
          outline: none;
          border-radius: 0;
          background: url($img +"swiper1_btn1.png")no-repeat top center;
          opacity: 1;
        }
        .swiper1_btn_0{
          border-radius: 0;
          background-position: -109px 0;
        }
        .swiper1_btn_1{
          border-radius: 0;
          background-position: -209px 0;
        }
        .swiper1_btn_2{
          border-radius: 0;
          background-position: -309px 0;
        }
        .swiper1_btn_3{
          border-radius: 0;
          background-position: -409px 0;
        }
        .swiper-pagination-bullet-active{
          background: url($img +"swiper1_btn1_active.png")no-repeat center;
        }
        .swiper1_btn_0{
          background-position: -109px 0;
        }
        .swiper1_btn_1{
          background-position: -209px 0;
        }
        .swiper1_btn_2{
          background-position: -309px 0;
        }
        .swiper1_btn_3{
          background-position: -409px 0;
        }
      }
      .title2{
        width: 1082px;
        height: 62px;
        background: url($img +"title2.png")no-repeat center;
        margin: 140px auto 0;
      }
      .title2_p{
        width: 1128px;
        height: 230px;
        margin: 75px auto 0;
        padding-left: 75px;
        color: #353440;
        font-size: 14px;
        line-height: 32px;
      }
      .segmenting_line{
        width: 208px;
        height: 1px;
        border-bottom: 1px  solid #b3a18d;
        margin: 30px 0 15px 72px;
        position: relative;
        .play1{
          display: block;
          width: 161px;
          height: 144px;
          background: url($img +"play1.png")no-repeat center;
          position: absolute;
          top: -40px;
          right: -850px;
        }
      }
      .title2_p1,.title2_p2,.title2_p3{
        width: 1128px;
        padding-left: 72px;
        color: #353440;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
      }
      .title2_p3{
        margin-top: 30px;
      }
      .list2{
        width: 550px;
        height: 88px;
        margin-top: 10px;
        margin-left: 72px;
        li{
          width: 80px;
          height: 80px;
          margin-right: 22px;
          float: left;
          background: url($img +"list2_li.png")no-repeat center;
          border: 4px solid rgba(0,0,0,0);
        }
        .li1{
          background-position: -4px -4px;
        }
        .li2{
          background-position: -114px -4px;
        }
        .li3{
          background-position: -224px -4px;
        }
        .li4{
          background-position: -334px -4px;
        }
        .li5{
          background-position: -444px -4px;
        }
        li.active{
          border: 4px solid #e75525;
        }
      }
      .list3{
        width: 520px;
        height: 100px;
        position: relative;
        margin-top: 12px;
        margin-left: 72px;
        li{
          width: 460px;
          height: 75px;
          position: absolute;
          top: 0;
          left: 0;
          background: #ffefc7;
          display: none;
          color: #353440;
          font-size: 14px;
          padding-top: 25px;
          padding-left: 30px;
          padding-right: 30px;
          line-height: 20px;
          i{
            display: block;
            width: 10px;
            height: 5px;
            background: url($img +"i.png")no-repeat center;
            position: absolute;
            top: -5px;
          }
        }
        li.active{
          display: block;
        }
        .li1{
          i{
            left: 23px;
          }
        }
        .li2{
          i{
            left: 140px;
          }
        }
        .li3{
          i{
            left: 255px;
          }
        }
        .li4{
          i{
            left: 365px;
          }
        }
        .li5{
          i{
            left: 475px;
          }
        }
      }
      .title3{
        width: 1082px;
        height: 62px;
        background: url($img +"title3.png")no-repeat center;
        margin: 240px auto 0;
      }
      .list4{
        width: 1400px;
        height: 1096px;
        margin-left: -300px;
        margin-top: -312px;
        position: relative;
        li{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: none;
        }
        li.active{
          display: block;
        }
        .li1{
          background: url($img +"list4_li1.png")no-repeat center;

        }
        .li2{
          background: url($img +"list4_li2.png")no-repeat center;

        }
        .li3{
          background: url($img +"list4_li3.png")no-repeat center;

        }
        .li4{
          background: url($img +"list4_li4.png")no-repeat center;

        }
      }
      .video{
        width: 800px;
        height: 449px;
        position: relative;
        background: #000;
        background: url($img +"list4_li1_img.png")no-repeat center;
        margin-top: -750px;
        margin-left: 215px;
        .play{
          width: 110px;
          height: 110px;
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          margin-top: -55px;
          margin-left: -55px;
          background: url($img +"play.png")no-repeat center;
        }
      }
      .list5{
        width: 793px;
        height: 184px;
        margin: 10px 0 0 216px;
        position: relative;
        z-index: 99;
        li{
          width: 198px;
          height: 100%;
          background: url($img +"list5_li.png")no-repeat center;
          float: left;
          cursor: pointer;
        }
        li.active{
          background: url($img +"list5_li_active.png")no-repeat center;
        }
        .li1{
          background-position: 0 0;
        }
        .li2{
          background-position: -198px 0;
        }
        .li3{
          background-position: -396px 0;
        }
        .li4{
          background-position: -594px 0;
        }
        .li1.active{
          background-position: 0 0;
        }
        .li2.active{
          background-position: -198px 0;
        }
        .li3.active{
          background-position: -396px 0;
        }
        .li4.active{
          background-position: -594px 0;
        }

      }
      .title4{
        width: 1082px;
        height: 62px;
        background: url($img +"title4.png")no-repeat center;
        margin: 130px auto 0;
      }
      .swiper2{
        width: 930px;
        height: 550px;
        margin: 50px auto 0;
        position: relative;
        .swiper-container{
          width: 800px;
          height: 455px;
          margin: 0 auto;
          img{
            display: block;
            width: auto;
            height: auto;
            max-width: 56%;
            margin: auto;
          }
          video{
            width: 100%;
            height: auto;
            margin: 0 auto;
          }
        }
        .swiper-slide_img img{
          width: 100%;
          height: auto;
          max-width: 100%;
        }
        .swiper-button-prev,.swiper-button-next{
          width: 39px;
          height: 69px;
          position: absolute;
          margin-top: -80px;
          outline: none;
        }
        .swiper-button-prev{
          background: url($img +"swiper1_prev.png")no-repeat center;
          left: 0;
        }
        .swiper-button-next{
          background: url($img +"swiper1_next.png")no-repeat center;
          right: 0;
        }
        .swiper-pagination{
          width: 800px;
          height: 80px;
          margin-left: 65px;
          bottom: -20px;
          background: url($img +"swiper2_li.png")no-repeat top center;
        }
        .swiper-pagination-bullet{
          width: 60px;
          height: 45px;
          outline: none;
          border-radius: 0;
          margin-right: 35px;
          background: url($img +"swiper2_btn1.png")no-repeat top center;
          opacity: 1;
          display: block;
          float: left;
          padding-top: 30px;
          p{
            color: #ffffff;
            height: 42px;
            width: 100%;
            font-size: 14px;
            text-align: center;
          }
        }
        .swiper2_btn_0{
          margin-left: 87px;
        }
        .swiper2_btn_6{
          margin-right: 0;
        }
        .swiper-pagination-bullet-active{
          background: url($img +"swiper2_btn1_active.png")no-repeat top center;
          p{
            color: #efdcb5;
          }
        }
      }




    }
  }
  .fixed{
    width: 150px;
    height: 266px;
    display: none;
    background: url($img +"fixed.png")no-repeat center;
    position: fixed;
    top: 300px;
    right: 25px;
    padding-top: 82px;
    p{
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 48px;
      color: #c1bee0;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }
    p.active{
      color: #ffffc4;
    }
  }
}

